@model IEnumerable<AlquilerApp.Models.Pais>

<h1>Listado de Países</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre del País</th> <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.PaisNombre</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPais" class="btn btn-sm btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPais" class="btn btn-sm btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPais" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>