@model AlquilerApp.Models.Estado
<div class="form-group mb-3">
    <label asp-for="EstadoNombre" class="control-label">Nombre del Estado</label>
    <input asp-for="EstadoNombre" class="form-control" />
    <span asp-validation-for="EstadoNombre" class="text-danger"></span>
</div>